@{
    Layout = "~/Views/Shared/_PatientNavbar.cshtml";
    ViewData["Title"] = "Doctors";
}
@model List<States>

<div class="card-style">
    <div class="row g-3" id="statesList">
        <div class="col-2 text-end">
            <label for="inputState" class="col-form-label" style="font-weight:bold; color:black; font-size:large;">Choose State: </label>
        </div>
        <div class="col-3">
            <select class="form-select" name="location_id" id="inputState">
                @foreach (var state in Model)
                {
                    <option value="@state.id">@state.name</option>

                }
            </select>
        </div>
        <div class="col-7"></div>
    </div>

    <div id="doctorsList" class="row mt-5">

    </div>

    <div id="doctorSchedule">

    </div>

    <div id="availableHours" class="list-group mt-4">

    </div>

    <div id="modal"  class="modal fade" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">

    </div>
</div>


<style>
    .card-style {
        background-color: #f5f5f5;
        padding:30px;
        border-radius:10px;
        height:stretch;
    }

    #goBackBtn {
        background-color: #f5f5f5;
        color: black;
        font-size: 17px;
    }
    #dateBackBtn, #dateForwardBtn {
        background-color: #f5f5f5;
        color: black;
        font-size: 14px;
    }
    #goBackBtn:hover, #dateBackBtn:hover, #dateForwardBtn:hover {
        color: white;
    }
    #availableHours{
        width:75%;
        margin:auto;
    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var selectedDoctorId;
            var selectedDate;
            var user_id = '@ViewData["UserId"]';
            var selectedHour;

            $('#inputState').change(function () {
                var stateId = $(this).val();
                listDoctors(stateId);
            });

            $(document).on('click', '.doctor-card', function () {
                var doctorId = $(this).data('id');
                showDoctorSchedule(doctorId);
            });

            $(document).on('click', '#goBackBtn', function () {
                $('#doctorSchedule').empty();
                $('#availableHours').empty();
                listDoctors($('#inputState').val());
                $('#statesList').show();
            });

            $(document).on('click', '.day', function () {
                var selectedDay = $(this).data('day');
                selectedDate = $(this).text();
                showAvailableHours(selectedDay);
                
            });


            function listDoctors(stateId) {
                $.ajax({
                    url: '/Patient/GetDoctorsByState',
                    type: 'GET',
                    data: { stateId: stateId },
                    success: function (response) {
                        $('#doctorsList').empty();
                        $.each(response, function (index, doctor) {
                            var cardHtml = `
                                <div class="col-sm-4 mb-4">
                                    <div class="card doctor-card" data-id="${doctor.id}">
                                        <div class="card-body">
                                            <h5 class="card-title mb-2">${doctor.name}</h5>
                                            <p class="card-text mb-3">${doctor.address}</p>
                                        </div>
                                    </div>
                                </div>`;
                            $('#doctorsList').append(cardHtml);
                        });

                    },
                    error: function () {
                        alert('An error occurred while fetching doctors.');
                    }
                });
            }

            var currentIndex = 0;
            var selectedDoctorId;

            function showDoctorSchedule(doctorId) {
                selectedDoctorId = doctorId;
                currentIndex = 0;
                updateSchedule();
            }

            function updateSchedule() {
                $('#doctorSchedule').empty();
                $('#doctorsList').empty();
                $('#statesList').hide();
                $('#availableHours').empty();

                var today = new Date();
                var days = [];

                for (var i = 0; i < 60;) {
                    var day = new Date(today);
                    var dayIndex = day.getDay();
                    if (dayIndex > 0 && dayIndex < 6) {
                        var formattedDate = day.getFullYear() + '-' + ('0' + (day.getMonth() + 1)).slice(-2) + '-' + ('0' + day.getDate()).slice(-2);
                        days.push(formattedDate);
                        i++;
                    }
                    today.setDate(today.getDate() + 1);
                }

                var backButton = $('<button id="goBackBtn" class="btn btn-primary mb-5"><i class="fa fa-chevron-left me-2"></i>Go Back</button>');
                $('#doctorSchedule').append(backButton);

                var buttonContainer = $('<div class="button-container mb-5" style="display: flex; justify-content: end; width: 80%; margin: auto;"></div>');
                var dateBackButton = $('<button id="dateBackBtn" class="btn btn-primary mb-2"><i class="fa fa-chevron-left me-2"></i>Back</button>');
                var dateForwardButton = $('<button id="dateForwardBtn" class="btn btn-primary mb-2"><i class="fa fa-chevron-right me-2"></i>Forward</button>');

                buttonContainer.append(dateBackButton);
                buttonContainer.append(dateForwardButton);
                $('#doctorSchedule').append(buttonContainer);

                dateBackButton.click(function () {
                    if (currentIndex > 0) {
                        currentIndex -= 5;
                        updateSchedule();
                    }
                });

                dateForwardButton.click(function () {
                    if (currentIndex + 5 < days.length) {
                        currentIndex += 5;
                        updateSchedule();
                    }
                });

                var daysDiv = $('<div class="days row" style="width:80%; margin:auto;"></div>');
                var startIndex = currentIndex;
                var endIndex = Math.min(currentIndex + 5, days.length);
                for (var i = startIndex; i < endIndex; i++) {
                    var day = days[i];
                    var dayButton = $('<div class="col-2" style="margin:auto;"><button class="btn btn-outline-primary day" id="' + day + '">' + day + '</button></div>');
                    dayButton.data('day', day);
                    daysDiv.append(dayButton);
                }
                $('#doctorSchedule').append(daysDiv);
            }


            function showAvailableHours(selectedDay) {
                $('#availableHours').empty();

                var hours = ['10:30:00', '11:00:00', '13:00:00', '15:00:00', '17:00:00'];
                $.each(hours, function (index, hour) {

                    var hourButton = $('<button type="button" class="list-group-item list-group-item-action button_list" id="' + hour.replace(/:/g, '') +'">' + hour + '</button>');

                    var hourOption = $('<div class="mb-1"></div>').append(hourButton);

                    $('#availableHours').append(hourOption);

                    checkAppointmentAvailability(selectedDoctorId, selectedDate, hour, user_id);
                });
            }

            function checkAppointmentAvailability(doctorId, selectedDate, hour, user_id) {

                $.ajax({
                    url: '/Patient/CheckAppointmentAvailability',
                    type: 'POST',
                    data: { doctorId: doctorId, selectedDate: selectedDate, time: hour, user_id: user_id },
                    success: function (response) {
                        if (!response.available) {
                            $('#' + hour.replace(/:/g, '')).prop('disabled', true);
                            $('#' + hour.replace(/:/g, '')).css('text-decoration', 'line-through');
                        }
                    },
                    error: function () {
                        alert('An error occurred while checking appointment availability.');
                    }
                });
            }

            $(document).on('click', '.button_list', function () {
                selectedHour = $(this).text();
                $.ajax({
                    url: '/Patient/GetDoctorAndPatientInfo',
                    type: 'GET',
                    data: { doctorId: selectedDoctorId, patientId: user_id },
                    success: function (response) {
                        if (response.error) {
                            alert(response.error);
                        } else {
                            var doctor = response.doctor;
                            var patient = response.patient;
                            var modalContent = `
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Appointment Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Doctor Name: ${doctor.name}` + ` ${doctor.surname}` +`</p>
                                            <p>Patient Name: ${patient.name}` + ` ${patient.surname}` +`</p>
                                            <p>Appointment Date: ${selectedDate}</p>
                                            <p>Appointment Time: ${selectedHour}</p>
                                            <p>Address: ${doctor.address}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="approveAppointmentButton">Approve Appointment</button>
                                        </div>
                                    </div>
                                </div>
                            `;

                            $('#modal').html(modalContent);

                            $('#modal').modal('show');
                        }
                    },
                    error: function () {
                        alert('An error occurred while fetching doctor and patient.');
                    }
                });
            });

            $(document).on('click', '#approveAppointmentButton', function () {
                $.ajax({
                    url: '/Patient/ApproveAppointment',
                    type: 'POST',
                    data: { doctorId: selectedDoctorId, patientId: user_id, date: selectedDate, time: selectedHour },
                    success: function (response) {
                        if (response) {
                            $('#modal').modal('hide');
                            alert('Appointment approved!!');
                            $('#' + selectedHour.replace(/:/g, '')).prop('disabled', true);
                            $('#' + hour.replace(/:/g, '')).css('text-decoration', 'line-through');
                        }
                    },
                    error: function () {
                        alert('An error occurred while approving appointment.');
                    }
                });
            });

        });
    </script>
