@{
    Layout = "~/Views/Shared/_PatientNavbar.cshtml";
    ViewData["Title"] = "Doctors";
}
@model List<States>

<div class="card-style">
    <div class="row g-3" id="statesList">
        <div class="col-2 text-end">
            <label for="inputState" class="col-form-label" style="font-weight:bold; color:black; font-size:large;">Choose State: </label>
        </div>
        <div class="col-3">
            <select class="form-select" name="location_id" id="inputState">
                @foreach (var state in Model)
                {
                    <option value="@state.id">@state.name</option>

                }
            </select>
        </div>
        <div class="col-7"></div>
    </div>

    <div id="doctorsList" class="row mt-5">

    </div>

    <div id="doctorSchedule">

    </div>

    <div id="availableHours" class="list-group mt-4">

    </div>

    <div id="modal"  class="modal fade" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">

    </div>
</div>


<style>
    .card-style {
        background-color: #f5f5f5;
        padding:30px;
        border-radius:10px;
        height:stretch;
    }

    #goBackBtn {
        background-color: #f5f5f5;
        color:black;
        font-size:17px;
    }
    #goBackBtn:hover{
        color:white;
    }
    #availableHours{
        width:75%;
        margin:auto;
    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var selectedDoctorId;
            $('#inputState').change(function () {
                var stateId = $(this).val();
                listDoctors(stateId);
            });

            $(document).on('click', '.doctor-card', function () {
                var doctorId = $(this).data('id');
                showDoctorSchedule(doctorId);
            });

            $(document).on('click', '#goBackBtn', function () {
                $('#doctorSchedule').empty();
                $('#availableHours').empty();
                listDoctors($('#inputState').val());
                $('#statesList').show();
            });

            $(document).on('click', '.day', function () {
                var selectedDay = $(this).data('day');
                showAvailableHours(selectedDay);
            });


            function listDoctors(stateId) {
                $.ajax({
                    url: '/Patient/GetDoctorsByState',
                    type: 'GET',
                    data: { stateId: stateId },
                    success: function (response) {
                        $('#doctorsList').empty();
                        $.each(response, function (index, doctor) {
                            var cardHtml = `
                                <div class="col-sm-4 mb-4">
                                    <div class="card doctor-card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-2">${doctor.name}</h5>
                                            <p class="card-text mb-3">${doctor.address}</p>
                                        </div>
                                    </div>
                                </div>`;
                            $('#doctorsList').append(cardHtml);
                        });

                    },
                    error: function () {
                        alert('An error occurred while fetching doctors.');
                    }
                });
            }

            
            function showDoctorSchedule(doctorId) {
                $('#doctorSchedule').empty();
                $('#doctorsList').empty();
                $('#statesList').hide();
                $('#availableHours').empty();

                selectedDoctorId = doctorId;

                var today = new Date();

                var days = [];

                for (var i = 0; i < 5;) {
                    var day = new Date(today);
                    var dayIndex = day.getDay(); // Haftanın günlerinden birinin indeksi (0: Pazar, 1: Pazartesi, ..., 6: Cumartesi)
                    if (dayIndex > 0 && dayIndex < 6) { 
                        var formattedDate = day.getFullYear() + '-' + ('0' + (day.getMonth() + 1)).slice(-2) + '-' + ('0' + day.getDate()).slice(-2);
                        days.push(formattedDate);
                        i++;
                    }
                    today.setDate(today.getDate() + 1);
                }

                var backButton = $('<button id="goBackBtn" class="btn btn-primary mb-5"><i class="fa fa-chevron-left me-2"></i>Go Back</button>');
                $('#doctorSchedule').append(backButton);


                var daysDiv = $('<div class="days row" style="width:80%; margin:auto;"></div>');
                $.each(days, function (index, day) {
                    var dayButton = $('<div class="col-2" style="margin:auto;"><button class="btn btn-outline-primary day">' + day + '</button></div>');
                    dayButton.data('day', day);
                    daysDiv.append(dayButton);
                });
                $('#doctorSchedule').append(daysDiv);
            }

           
            function showAvailableHours(selectedDay) {
                $('#availableHours').empty();

                var hours = ['09:00:00', '11:00:00', '13:00:00', '15:00:00', '17:00:00'];
                $.each(hours, function (index, hour) {

                    var hourButton = $('<button type="button" class="list-group-item list-group-item-action button_list">' + hour + '</button>');

                    var hourOption = $('<div class="mb-1"></div>').append(hourButton);

                    $('#availableHours').append(hourOption);

                   // checkAppointmentAvailability(selectedDoctorId, selectedDay, hour);
                });
            }

            function checkAppointmentAvailability(doctorId, selectedDate, hour) {
                $.ajax({
                    url: '/Patient/CheckAppointmentAvailability',
                    type: 'POST',
                    data: { doctorId: doctorId, date: selectedDate, time: hour },
                    success: function (response) {
                        if (!response.available) {
                            $('#' + hour.replace(':', '')).prop('disabled', true);
                        }
                    },
                    error: function () {
                        alert('An error occurred while checking appointment availability.');
                    }
                });
            }

            $(document).on('click', '.button_list', function () {
                var selectedDay = $(this).data('day');
                var selectedHour = $(this).text();

                // Modal içeriğini oluşturma
                var modalContent = `
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Appointment Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Appointment Date: ${selectedDay}</p>
                        <p>Appointment Time: ${selectedHour}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Approve Appointment</button>
                    </div>
                </div>
            </div>
        `;

                // Modal içeriğini yerleştirme
                $('#modal').html(modalContent);

                // Modalı gösterme
                $('#modal').modal('show');
            });

        });
   </script>
