@{
    ViewData["Title"] = "Patient";
}

<div class="card mb-4 mt-5">
    <h5 class="card-header">Patient Profile</h5>
    <!-- Account -->
    <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img src="~/img/author1.jpg" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
            <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                    <span class="d-none d-sm-block">Upload new photo</span>
                    <i class="bx bx-upload d-block d-sm-none"></i>
                    <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                </label>
                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                    <i class="bx bx-reset d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Reset</span>
                </button>

                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
        </div>
    </div>
    <hr class="my-0">
    <div class="card-body">
        <form id="formAccountSettings" method="post" onsubmit="return false">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-user-doctor"></i></span>
                        <input class="form-control" type="text" id="firstName" name="firstName" value="Lily" autofocus="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-user-doctor"></i></span>
                        <input class="form-control" type="text" name="lastName" id="lastName" value="Alberta">
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                        <input class="form-control" type="text" id="email" name="email" value="john.doe@example.com" placeholder="john.doe@example.com">
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">Password</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input class="form-control" type="text" id="password_id" name="password" value="" placeholder="*********">
                    </div>
                </div>


                <div class="mb-3 col-md-6">
                    <label class="form-label" for="phoneNumber">Birthday</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-cake-candles"></i></i></span>
                        <input type="date" id="bday_id" name="bday" class="form-control" placeholder="01-03-1987">
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-phone"></i></i></span>
                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="202 555 0111">
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label class="form-label" for="country">Country</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-earth-americas"></i></span>
                        <select id="country" class="form-select">
                            <option value="">Select</option>
                            <option value="1">Australia</option>
                            <option value="2">Bangladesh</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="country">City</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-earth-americas"></i></span>
                        <select id="country" class="form-select">
                            <option value="">Select</option>
                            <option value="1">State 2</option>
                            <option value="2">State 2</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="address" class="form-label">Address</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-brands fa-usps"></i></span>
                        <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="231465" maxlength="6">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="language" class="form-label">Gender</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-venus-mars"></i></span>
                        <select id="language" class="select2 form-select">
                            <option value="">Select Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                </div>
                @* <div class="mb-3 col-md-6">
                    <label for="timeZones" class="form-label">Specialization</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-stethoscope"></i></span>
                        <select id="timeZones" class="select2 form-select">
                            <option value="">Select Timezone</option>
                            <option value="1">Specialization 1</option>
                            <option value="2">Specialization 2</option>
                        </select>
                    </div>
                </div> *@
            </div>

       

            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </div>
    <!-- /Account -->
</div>