@{
    ViewData["Title"] = "Contact Us";
}

<div class="row">
	<div id="myMap" style="position: relative; overflow: hidden;">

		<iframe data-lazyloaded="1" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3009.985279376452!2d28.960212!3d41.025578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9f0d6f5e2b9%3A0x8166ca686527143a!2sCibali%2C%20Kadir%20Has%20Cd.%2C%2034083%20Fatih%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1646153508609!5m2!1str!2str" data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3009.985279376452!2d28.960212!3d41.025578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9f0d6f5e2b9%3A0x8166ca686527143a!2sCibali%2C%20Kadir%20Has%20Cd.%2C%2034083%20Fatih%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1646153508609!5m2!1str!2str" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" data-ll-status="loaded" class="entered litespeed-loaded"></iframe>

	</div>
	<!--/End Google-map -->
</div>