html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a.links {
    color: #2C2D3F;
    font-weight: 500;
}

a.dp-link{
    background-color: #1A76D1;
    border-radius:7px;
}

a.dp-link:hover {
    background-color: #2C2D3F;
    transition:all 0.2s ease;
}

